@import"./../../node_modules/bootstrap/scss/functions";
@import"./../../node_modules/bootstrap/scss/variables";
/* Hero Section */

$bd-dark:#191D1D;

.vertical-text {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-size: 0.8rem;
      letter-spacing: 0.2rem;
      color: #fff;
    }


@import"./../../node_modules/bootstrap/scss/bootstrap.scss";