@media (max-width:540px) {
    .hover{
        font-size: 8px;
    }
    .design-landan {
        h3{
            font-size: 20px;
        }

    
        .text {
            
            font-size: 10px;

            
        }
   }
    
}