.project-handel {
    .image-2{
        bottom: 55px;
        left: 40px;
    }
    .image-3{
        bottom: 110px;
        left: 75px
    }

    .image-4{
        bottom: 165px;
        left:115px
    }
    
}